.container{
    margin-top: 100px;
    margin-left: 300px;
    text-align: center;
}

.labelAdd {
    padding: 5px;
    float: left;
    
    
}
.inputPork {
    font-size: 10px;
    border: 1px solid #D8D5DB;
    padding: 6px 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: inset 2px 2px 3px #D8D5DB;
    -moz-box-shadow: inset 2px 2px 3px #D8D5DB;
    box-shadow: inset 2px 2px 3px #D8D5DB;
    
    margin-left: 30px;
  
    
}

.inputButton {
    font-size: 15px;
    color: white;
    background-color: #C42021;
    border-radius: 50px;
    width: 10;
    padding: 12px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
}

.inputButton:hover {
    background-color: #C42021;
}

.product{
    font-size: 20px;
    font-weight: 100px;
    color: black;
    margin-bottom: 30px;
}
.input-grid{
    display: grid;
    grid-template:1fr 1fr/1fr 1fr ;
    grid-gap: 10px;
   
    
}
.inputPork[type="date"] {
    width: 160px; 
  }
